doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <!-- below were added for datepicker -->
    link(rel="stylesheet", href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css", type="text/css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js")
    script(src="/javascripts/Chart.js")
    script.
      $(function() {
         $(".datepicker").datepicker();
         $("#form_1").submit(doPut);
      });
        function doPut() {
          var input1 = $( "#input1" ).val()
          var input2 = $( "#input2" ).val()
          var from_seconds = new Date(input1) - 0 // doing "-0" to convert to miliseconds
          var to_seconds = new Date(input2) - 0
          if (input1 == "" || input2 == "") {
              alert("Please select both dates.")
              event.preventDefault(); // avoid submit when form input erroneous
            }
          else if (from_seconds > to_seconds) {
              alert("From date cannot be later than to date")
              event.preventDefault();
            }
          else {
            // check that date range is within max_days
              var max_days = 28;
              var max_seconds = 1000*60*60*24*max_days
              if (to_seconds-from_seconds > max_seconds) {
                  alert("Date range to large! Please select less than 28 days")
                  event.preventDefault();
              }
              else {
              var aj = $.ajax({
                          url: "request",
                          type: "put",
                          data: $("#form_1").serializeArray(),
                          success: function(data) {
                              window.location.href = "/tweets"
                          }
                  });
                  return false;
              }
          }
        }
  body
    block content
