doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <!-- below were added for datepicker -->
    link(rel="stylesheet", href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css", type="text/css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js")
    script.
      $(function() {
         $(".datepicker").datepicker();
         $("#form_1").submit(doPut);
      });
        function doPut() {
            var aj = $.ajax({
                    url: "request",
                    type: "put",
                    data: $("#form_1").serializeArray(),
                    success: function(data) {
                        window.location.href = "/tweets"
                    }
            });
            return false;
        }
  body
    block content
