extends layout

block content
	h1= "Online education trends"
	br
	table(class="tweets_data")
		thead
			tr
				th Date
				th Tweet
		tbody
		each val, index in data
			tr
				td=val.date
				td(class="tweet_class")=val.tweet
	br

	form(name="input")
		| Date:  &nbsp;
		input(id="datepicker")