body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tweets_data{
    border-collapse: collapse;
    border-spacing: 0;
}


.tweets_data td, .tweets_data th{
	border: 1px solid green;
}

.tweets_data th {
	background-color: #339900;
	color: #E0E0E0 ;
	letter-spacing: 1px;
	font-size: 18px;
}

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
/*tr td:nth-child(odd) { background: #FEFEFE; } */
.tweets_data td.tweet_class{
	padding-left: 20px;
}

table, th, td{
	padding: 7px 3px 7px 3px;
}

.form_border {
	border: 2px solid gray;
	height: 175px;
	width: 250px;
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.notice_no_data {
	color: #980000 ;
	font-weight: bold;
}